QWEN_PROVIDER=ollama
QWEN_MODEL=qwen2.5:3b
QWEN_URL=http://ollama:11434/v1/chat/completions
QWEN_API_KEY= # no need to call Ollama's API

GEMINI_PROVIDER=google
GEMINI_MODEL=gemini-3.6-flash
GEMINI_URL=https://generativelanguage.googleapis.com/v1beta/chat/completions
GEMINI_API_KEY=<YOUR_API_KEY>

LLM_PROVIDER=$GEMINI_PROVIDER
LLM_MODEL=$GEMINI_MODEL
LLM_URL=$GEMINI_URL
LLM_API_KEY=$GEMINI_API_KEY
